* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  margin: 20px 0
}

.app {
  width: 30%;
  background: #E8EAED;
  text-align: center;
  padding: 7px;
}

.fieldCreateTitle {
  text-align: right;
  background: white;

  border-radius: 5px;
}

.btnCreateTitle, .btnPublish {
  display: inline-block;
  margin: 7px;
  background: #4469AE;
  color: white;
  border-radius: 5px;
}

span {
  padding: 10px;
  line-height: 1.8rem;

}

.list-post {

}

.post, .create-post {
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;

}

.page-create-post {
  padding: 10px;
}

.create-post {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.list-post {
  
}

.name-user {
  text-align: left;
  padding: 7px 0;
}

.content {
  text-align: left;
  padding: 7px 0;
}

.like-comment {
  display: flex;
  justify-content: center;
  column-gap: 100px;
  font-weight: bold;
  padding: 7px 0;
}

.like {

}

.comment {

}

.input {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-field {
  margin-left: auto;
  padding: 5px;
  width: 80%;
  border-radius: 5px;
}

.page-create-post {
  background: white;
}

.section-list {
  display: flex;
  column-gap: 10px;
}

.closeIcon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.btn-close {
  border: 0;
  padding: 0;
}

textarea {
  width: 100%;
  border: none;
  resize: none;
  margin-top: 10px;
}

/* hr {
  margin: 10px 0;
} */

.btnPublish {
  float: right;
}