* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#root {
  display: flex;
  justify-content: center;
  margin: 20px 0
}

.app {
  width: 30%;
  background: #E8EAED;
  text-align: center;
  padding: 7px;
}

.fieldCreateTitle {
  text-align: right;
  background: white;

  border-radius: 5px;
}

.btnCreateTitle, .btnPublish, .btnСhange, .btnRemove, .btnSave {
  display: inline-block;
  margin: 7px;
  background: #4469AE;
  color: white;
  border-radius: 5px;
}

span {
  padding: 10px;
  line-height: 1.8rem;

}

.list-post {

}

.post, .create-post {
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;

}

.page-create-post, .page-open-card {
  padding: 10px;
}

.create-post {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.list-post {
  
}

.name-user {
  text-align: left;
  padding: 7px 0;
  color: black;
}

.content {
  text-align: left;
  padding: 7px 0;
  font-size: 30px;
  color: black;
}

.like-comment {
  display: flex;
  justify-content: center;
  column-gap: 100px;
  font-weight: bold;
  padding: 7px 0;
}

.like {

}

.comment {

}

.input {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-field {
  margin-left: auto;
  padding: 5px;
  width: 80%;
  border-radius: 5px;
}

.page-create-post {
  background: white;
}

.section-list {
  display: flex;
  column-gap: 10px;
}

.closeIcon {
  position: absolute;
  right: 10px;
  /* top: 2px; */
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.closeIcon2 {
  position: absolute;
  right: 10px;
  /* top: 2px; */
  width: 10px;
  height: 10px;
  cursor: pointer;
} 

/* .btn-close {
  border: 0;
  padding: 0;
} */

.block-open-card {
  background: white;
}

textarea {
  width: 100%;
  border: none;
  resize: none;
  margin-top: 10px;
}

/* hr {
  margin: 10px 0;
} */

.btnPublish, .btnСhange, .btnRemove, .btnSave {
  float: right;
  border: none;
}

.btnRemove {
  background: #F08080;
}

.header-card-edit {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #F5F6F7;
  box-shadow: 0 4px 2px -2px #e4e4e4;
  line-height: 1.8;
  font-weight: bold;
}

.section-edit {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
  background: white;
  height: 130px;
  align-items: center;
  padding-top: 10px;
}

.section-edit-post {
  width: calc(50% - 10px);
  background: #f5f6f7;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}